html {
  height: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  background: linear-gradient(#212121, #000);
  color: #fff;
  font-family: "Poppins", sans-serif;
  max-width: 60rem;
  text-align: center;
}

.header--container {
  padding: 2rem;
  flex-shrink: 0;
}
.header--container h1 {
  margin: 0;
}
.header--container p {
  margin: 0;
}

.content--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0;
  padding: 0 2rem;
  box-sizing: border-box;
}

.input--container {
  height: 4rem;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  position: relative;
}
.input--container .clipboard {
  order: 3;
  width: 5rem;
  background: #d8d8d8;
}
input {
  order: 1;
  border: none;
  resize: none;
  background: #d8d8d8;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  appearance: none;
  font-family: "Fira Code", monospace;
  padding: 2rem;
  font-size: 1.4rem;
}
label {
  order: 2;
  background: #b61ba0;
  width: 12rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  font-family: "Fira Code", monospace;
  display: flex;
  justify-content: center;
}

.input--container:nth-of-type(1) label {
  background: #ee97e4;
}
.input--container:nth-of-type(2) label {
  background: #e382d7;
}
.input--container:nth-of-type(3) label {
  background: #d86dc9;
}
.input--container:nth-of-type(4) label {
  background: #cd56bb;
}
.input--container:nth-of-type(5) label {
  background: #c13dae;
}
